
:root {
    --background: #31605b;
    --screen-clr: #99d9ea;
    --large-btn-clr: #4adb84;
    --small-btn-clr: #c3c3c3;
    --calc-background: #7f7f7f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}
