@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Merriweather+Sans&family=Monoton&display=swap');

:root {
    --background: #31605b;
    --screen-clr: #99d9ea;
    --large-btn-clr: #4adb84;
    --small-btn-clr: #c3c3c3;
    --calc-background: #7f7f7f;
    --calc-border: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

body,
button {
    font-family: 'Merriweather Sans', sans-serif;
}

.container,
.btn,
.display {
    border: 3px solid var(--calc-border);
    border-radius: 5px;
}

.container,
.display {
    padding: 1em;
}

.container {
    width: 400px;
    background-color: var(--calc-background);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.small-btn {
    background-color: var(--small-btn-clr);
    aspect-ratio: 1/1;
}

.large-btn {
    background-color: var(--large-btn-clr);
    aspect-ratio: 2/1;
    grid-column: span 2;
}

.display {
    background-color: var(--screen-clr);
    margin-bottom: 1em;
}

.current-calc,
.last-calc {
    padding: 0.5em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.current-calc {
    height: 4em;
}

.last-calc {
    height: 3em;
}